

header{
  outline: 1px solid red;
  position: fixed;
   width:100%;
   top:0;

}
ul{
  margin: 0;
  padding: 0;
}
li{

   float: left;

 }/*#EFEFEF*/
 .first-menu{
   list-style: none;
   overflow: auto;
    margin:0;
   padding:10px 0;
   border-bottom: 1px solid #d3d3d3;
 }
 box{
   display: inline-block;
 }

 .style-input{
   width:720px;
   background :#EFEFEF;
   border:none;
   font-size:17px;
 }

 .icon-brand{
    font-size:40px;
    margin-left: 0px;

 }

 .icon-user{
       font-size:18px;

 }
 .icon-three-bars{
    font-size:25px;
 }

 .icon-commenting-o{
  font-size:20px;
 }
 ul li:first-child{

     widht:50px;
     margin-left:65px;
     margin-right:15px;
 }

 ul li:nth-child(2) {
    margin-left:5px;
    padding:10px 80px;
    widht:150px;
    background :#EFEFEF;
    border-radius:3px;
}

ul li:nth-child(3) {
    margin-left:40px;
    padding:10px 8px;
    /*widht:150px;*/

}
ul li:nth-child(4) {
    margin-left:20px;
    padding:10px 8px;
    /*widht:150px;*/

}
ul li:nth-child(5) {
    margin-left:20px;
    padding:10px 8px;
    /*widht:150px;*/
}


/*segundo menu*/
.second-menu{
  overflow:auto;
   margin:0;
   padding-left:120px;
}

.box2{
    width:90px;

    float:left;
    text-align:center;
color: white;
    border-radius:6px;
    margin-top:10px;
    margin-left:10px;
}
.second-menu .box2:nth-child(1){
background-color: #996633;
}

.second-menu .box2:nth-child(2){
background-color: #CC9900;
}
.second-menu .box2:nth-child(3){
background-color: #A16600;
}
.second-menu .box2:nth-child(4){
background-color: #996633;
}
.second-menu .box2:nth-child(5){
background-color: #669900;
}
.second-menu .box2:nth-child(6){
background-color: #996633;
}
.second-menu .box2:nth-child(7){
background-color: #996633;
}
.second-menu .box2:nth-child(8){
background-color: #996600;
}
.second-menu .box2:nth-child(9){
background-color: #996633;
}
/*cupero de llas imagens*/
main{
margin: 150px auto auto;
max-width: 1400px;
overflow: auto;
padding: 0 10px;

}
/*
.contenedor{
  width: 90%;
  margin: 15px auto;
  /*overflow: auto;
  margin-top: 150px;
  /*float: left;

}

.post{
  width: 260px;
  /*float: left;
  margin-right: 30px;
margin-bottom: 15px;
  /*border-radius: 20px;
}

img{
  width: 100%;
  border-radius: 20px;
  /*float: left;

}*/


/*
main.contenedor{
  float: left;
  width: 25%;


}

main .post{

  margin: 20px 10px;
}
.post img{
display:inline-block;
width: 50%;
}*/
main .contenedor{
  /*outline: 1px solid blue;
  display: inline-block;
  width: 25%;*/
  float: left;
    width: 25%;
  /*column-gap: 15px;*/
}
main .post{
  outline: 1px solid red;
  margin: 20px 10px;
}
.post img{
  width: 100%;
  border-radius: 10px;
  /*margin-bottom: 5px;*/
}
.post .text{
  margin-top: 15px;
  float: left;
}
.post .text .user{
  margin-top: 12px;
font-size: 15px;
}
.post .text .user .circle{
  width: 30px;
    height: 30px;
    background-color: #d597a1;
    border-radius: 50px;
    margin-right: 3px;
    margin-top: -5px;
    text-align: center;
    float: left;

}
.post .text .user .circle .letter{
color: #fff;
    font-weight: 700;
    position: relative;
    top: 6px;
  }

.post .text .user .name{
  display: block;
}
