

header{
  /*outline: 1px solid red;*/
  position: fixed;
   width:100%;
   top:0;
   background-color: white;

}
ul{
  margin: 0;
  padding: 0;
}
li{

   float: left;

 }/*#EFEFEF*/
 .first-menu{
   list-style: none;
   overflow: auto;
    margin:0;
   padding:10px 0;
   border-bottom: 1px solid #d3d3d3;
 }
 box{
   display: inline-block;
 }

 .style-input{
   width:720px;
   background :#EFEFEF;
   border:none;
   font-size:17px;
 }

 .icon-brand{
    font-size:40px;
    margin-left: 0px;

 }
.icon-cancel{
  margin-right: 20px;
}
.icon-chevron-down{

font-size: 20px;
padding-top: 0;
position: relative;
top: 5px;
}
 .icon-user{
   font-size:18px;
      color: #b5b5b5;

 }
 .icon-three-bars{
    font-size:25px;
     color: #b5b5b5;
 }

 .icon-chat{
  font-size:20px;
   color: #b5b5b5;
 }
 ul li:first-child{

     widht:50px;
     margin-left:65px;
     margin-right:15px;
 }

 ul li:nth-child(2) {
    margin-left:5px;
    padding:10px 80px;
    widht:150px;
    background :#EFEFEF;
    border-radius:3px;
}

ul li:nth-child(3) {
    margin-left:40px;
    padding:10px 8px;
    /*widht:150px;*/

}
ul li:nth-child(4) {
    margin-left:20px;
    padding:10px 8px;
    /*widht:150px;*/

}
ul li:nth-child(5) {
    margin-left:20px;
    padding:10px 8px;
    /*widht:150px;*/
}


/*segundo menu*/
.second-menu{
  overflow:auto;
   margin:0;
   padding-left:120px;
}

.box2{
    width:90px;
    padding: 10px;
    float:left;
    text-align:center;
    color: white;
    border-radius:6px;
    margin-top:10px;
    margin-left:10px;
}
.second-menu .box2:nth-child(1){
background-color: #996633;
}

.second-menu .box2:nth-child(2){
background-color: #CC9900;
}
.second-menu .box2:nth-child(3){
background-color: #A16600;
}
.second-menu .box2:nth-child(4){
background-color: #996633;
}
.second-menu .box2:nth-child(5){
background-color: #669900;
}
.second-menu .box2:nth-child(6){
background-color: #996633;
}
.second-menu .box2:nth-child(7){
background-color: #996633;
}
.second-menu .box2:nth-child(8){
background-color: #996600;
}
.second-menu .box2:nth-child(9){
background-color: #996633;
}
/*cupero de llas imagens*/
main{
margin: 150px auto auto;
max-width: 1400px;
overflow: auto;
padding: 0 10px;

}

main .contenedor{
  float: left;
  width: 25%;

}
main .post{
  /*outline: 1px solid red;*/
  margin: 20px 10px;
}
.post img{
  width: 100%;
  border-radius: 10px;
  /*margin-bottom: 5px;*/
}
.post .text{
  margin-top: 15px;
  float: left;

}
.post .text h1{
  font-size: 16px;

}
.post .text .user{
  margin-top: 12px;
font-size: 15px;
}
.post .text .user .circle{
  width: 30px;
    height: 30px;
    background-color: #d597a1;
    border-radius: 50px;
    margin-right: 3px;
    margin-top: -5px;
    text-align: center;
    float: left;

}
.post .text .user .circle .letter{
color: #fff;
    font-weight: 700;
    position: relative;
    top: 6px;
  }

.post .text .user .name{
  display: block;

}

.post .icon{
position: relative;
left: 220px;
bottom: 120px;
top: -110px;

   font-size: 10px;


   width: 30%;
   color: #b5b5b5;

}
