
/*encabezado que contiene a los dos menus*/
header{
  /*outline: 1px solid red;*/
  /*psocionamiento fijo */
  position: fixed;
  width:100%;
  top:0;
  background-color: white;
}
/**/
ul{
  margin: 0;
  padding: 0;
}
li{
  /*se coloca al lado izquierdo y sale del flujo del documento*/
  float: left;
}
/*primer menu*/
.first-menu{
  /*quita las viñetas*/
   list-style: none;
   overflow: auto;
   margin:0;
   padding:10px 0;
   border-bottom: 1px solid #d3d3d3;
 }
 /*contenedor gris*/
 box{
   display: inline-block;
 }
/**/
 input{
   width:720px;
   /*color gris*/
   background :#EFEFEF;
   border:none;
   font-size:17px;
 }

/*primer hijo en el primer menú: icon brand*/
 ul li:first-child{
   margin-left:65px;
   margin-right:15px;
   font-size: 30px;
 }
/*segundo hijo en el primer menú:box gris*/
 ul li:nth-child(2) {
    margin-left:5px;
    padding:10px 80px;
    background :#EFEFEF;
    border-radius:3px;
}
/*tercer hijo en el primer menú: icon user*/
ul li:nth-child(3) {
    margin-left:40px;
    padding:10px 8px;
    font-size: 20px;
    color: #b5b5b5;
}
/*cuarto hijo en el primer menú: icon three bars*/
ul li:nth-child(4) {
    margin-left:20px;
    padding:10px 8px;
    font-size: 20px;
    color: #b5b5b5;
  }
/*quinto hijo en el primer menú: icon chat*/
ul li:nth-child(5) {
    margin-left:20px;
    padding:10px 8px;
    font-size: 20px;
    color: #b5b5b5;

}

/*outline: 1px solid red;*/
/*segundo menu*/
.second-menu{
  overflow:auto;
  margin:0;
  padding-left:120px;
}

.box2{
    width:90px;
    padding: 10px;
    /*alineamiento a la izquierda*/
    float:left;
    text-align:center;
    color: white;
    /*borde circular a los bloques*/
    border-radius:6px;
    /*espaciado*/
    margin-top:10px;
    margin-left:10px;
}
/*aplicando color*/
/*primer bloque*/
.second-menu .box2:nth-child(1){
background-color: #996633;
}
/*segundo bloque*/
.second-menu .box2:nth-child(2){
background-color: #CC9900;
}
/*tercer bloque*/
.second-menu .box2:nth-child(3){
background-color: #A16600;
}
/*cuarto bloque*/
.second-menu .box2:nth-child(4){
background-color: #996633;
}
/*quinto bloque*/
.second-menu .box2:nth-child(5){
background-color: #669900;
}
/*sexto bloque*/
.second-menu .box2:nth-child(6){
background-color: #996633;
}
/*septimo bloque*/
.second-menu .box2:nth-child(7){
background-color: #996633;
}
/*octavo bloque*/
.second-menu .box2:nth-child(8){
background-color: #996600;
}
/*noveno bloque*/
.second-menu .box2:nth-child(9){
background-color: #996633;
}

/*cuerpo de las imagens*/
section{
/*posiconamiento despues del encabezado*/
margin: 150px auto auto;

overflow: auto;
/*relleno*/
padding: 0 10px;
}
/*columnas*/
section .contenedor{
  float: left;
/*cuatro columnas,cada una el 25% */
  width: 25%;
}

/*contenedor de la imagen*/
section .block{
  /*espacio entre cada imagen*/
  margin: 20px 10px 0px 30px;
}
/*imagen*/
.block img{
  width: 100%;
  /*borde circular de la imagen*/
  border-radius: 20px;
}
.block .text{
  height: 100px;
}
/*titulo*/
.block .text h1{
  font-size: 16px;
margin-bottom: 0px;
}
.block .text p{
  margin: 10px 0px 10px 0px;
}
.block .text .user{
  /*margin-top: 10px;*/
  font-size: 15px;
}
/*creando el circulo rojo*/
.block .text .user .circle{
  width: 30px;
  height: 30px;
  background-color: #d597a1;
  border-radius: 50px;
  /*espaciado*/
  margin-right: 3px;
  margin-top: 1px;
  text-align: center;
  float: left;

}
/*letra dentro del circulo*/
.block .text .user .circle .letter{
  color: #fff;
  font-weight: 700;
  position: relative;
    top: 6px;
  }
/*autor*/
.block .text .user .name{
  /*convritiendo a bloque*/
  display: block;
  margin-top: 0px;
}
/*iconos pequeños*/
.block .icon{
/*posicionamiento para que no afecte a los otros*/
position: relative;
/*eje de coordenadas para el posicionamiento*/
left: 200px;
bottom: 120px;
/*tamaño*/
font-size: 10px;
color: #b5b5b5;
padding: 20px;

}
