@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cikhns');
  src:  url('fonts/icomoon.eot?cikhns#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cikhns') format('truetype'),
    url('fonts/icomoon.woff?cikhns') format('woff'),
    url('fonts/icomoon.svg?cikhns#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e907";
}
.icon-checkmark:before {
  content: "\e904";
}
.icon-three-bars:before {
  content: "\e908";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-brand:before {
  content: "\e900";
  color: #bd081c;
}
.icon-thumb-tack:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e905";
}
.icon-magnifier:before {
  content: "\e902";
}
.icon-chat:before {
  content: "\e901";
}
